<div class="grid-container page">
	<user-header *ngIf="!noNav"></user-header>
	<div class="block-section" id="page-content">
		<div class="grid-100 grid-parent">
			<left-nav *ngIf="!noNav"></left-nav>
			<div class="grid-85 mobile-grid-100 grid-parent" *ngIf="error">
				<div class="content-holder center-widget" [ngSwitch]="error.code">
					<div class="grid-100 grid-parent" *ngSwitchCase="404">
						<not-found></not-found>
					</div>
					<div class="grid-100 grid-parent" *ngSwitchDefault>
						<h1>{{error.msg}}</h1>
					</div>
				</div>
			</div>
			<div class="grid-85 mobile-grid-100 grid-parent" [class.hidden]="error && error.code === 404">
				<div [class.content-holder]="!noNav" class="center-widget">
					<div class="grid-100 grid-parent">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<user-footer *ngIf="!noNav"></user-footer>
</div>
