<h2 class="heading">Assign influencer information</h2>
<div *ngIf="!inf">
	<h3>Woo Woo! No more influencers to categorize for now. Great work!</h3>
</div>
<div *ngIf="inf">
	<div class="grid-30 mobile-grid-100 grid-parent">
		<p>
			User ID: <b>{{ inf.id }}</b><br>
			User Name: <b>{{ inf.name }}</b><br>
			Email: <b><a href="mailto:{{ inf.email }}">{{ inf.email }}</a></b>
		</p>
		<p>Preview social networks:</p>
		<p *ngIf="inf.twitterUrl">
			<a target="_blank" href="{{ inf.twitterUrl }}" class="btn-primary btn-lg btn-social-twitter">Twitter</a>
		</p>
		<p *ngIf="inf.facebookUrl">
			<a target="_blank" href="{{ inf.facebookUrl }}" class="btn-primary btn-lg btn-social-facebook">Facebook</a>
		</p>
		<p *ngIf="inf.instagramUrl">
			<a target="_blank" href="{{ inf.instagramUrl }}" class="btn-primary btn-lg">Instagram</a>
		</p>
		<p *ngIf="inf.youTubeUrl">
			<a target="_blank" href="{{ inf.youTubeUrl }}" class="btn-primary btn-lg">YouTube</a>
		</p>
		<br/><br/>
		<p>
			<a target="_blank" href="/infApp/forceLogin/{{inf.id}}" class="btn-default btn-xs">Control influencers account &#187;
</a>
		</p>
	</div>
	<div class="grid-70 mobile-grid-100 grid-parent">
		<form>
			<div class="form-group">
				<div class="grid-20 mobile-grid-100 grid-parent">
					<span class="ttip" title="">Category:</span>
				</div>
				<div class="grid-80 mobile-grid-100 grid-parent">
					<div class="checkbox grid-50" *ngFor="let c of categories">
						<input [name]="c.cat" [id]="c.cat" type="checkbox" [(ngModel)]="inf.categories[c.cat]">
						<label [attr.for]="c.cat" style="text-transform: capitalize;">{{c.cat}}</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="grid-20 mobile-grid-100 grid-parent">
					<span class="ttip" title="">Gender:</span>
				</div>
				<div class="grid-80 mobile-grid-100 grid-parent">
					<select class="form-control" name="gender" [(ngModel)]="inf.gender" style="width: 200px">
					<option value="">Not Set</option>
					<option value="unicorn">Not applicable</option>
					<option value="f">Female</option>
					<option value="m">Male</option>
				</select>
				</div>
			</div>

			<div align="right">
				<button class="btn btn-green1" [disabled]="loading" (click)="assign()">Approve and go to next &#187;</button>
				<br/><br/>
				<hr>
				<br/>
				<button class="btn btn-scarlet ghost btn-micro"  [disabled]="loading" (click)="ban()">Blacklist User!</button>
			</div>
		</form>
	</div>
</div>
