<h2 class="heading">Check Payouts</h2>
<form id="create_campaign_form">
	<table class="tbl">
		<thead>
			<tr>
				<th class="align-left">Influencer</th>
				<th>ID</th>
				<th>Posts</th>
				<th>Address</th>
				<th>Amount</th>
				<th>Requested</th>
				<th>Send Check</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td class="align-left">theirUsername</td>
				<td>theirID</td>
				<td><a href="#">Post</a>, <a href="#">Post</a>, <a href="#">Post</a> </td>
				<td>5443 Crossvine Cr, Addison TX 75912</td>
				<td>$72,000</td>
				<td>01/22/16</td>
				<td><a class="btn btn-green1 btn-micro ghost">Approve</a></td>
			</tr>
			<tr>
				<td class="align-left">theirUsername</td>
				<td>theirID</td>
				<td><a href="#">Post</a>, <a href="#">Post</a>, <a href="#">Post</a> </td>
				<td>5443 Crossvine Cr, Addison TX 75912</td>
				<td>$72,000</td>
				<td>01/22/16</td>
				<td><a class="btn btn-green1 btn-micro ghost">Approve</a></td>
			</tr>
			<tr>
				<td class="align-left">theirUsername</td>
				<td>theirID</td>
				<td><a href="#">Post</a>, <a href="#">Post</a>, <a href="#">Post</a> </td>
				<td>5443 Crossvine Cr, Addison TX 75912</td>
				<td>$72,000</td>
				<td>01/22/16</td>
				<td><a class="btn btn-green1 btn-micro ghost">Approve</a></td>
			</tr>
			<tr>
				<td class="align-left">theirUsername</td>
				<td>theirID</td>
				<td><a href="#">Post</a>, <a href="#">Post</a>, <a href="#">Post</a> </td>
				<td>5443 Crossvine Cr, Addison TX 75912</td>
				<td>$72,000</td>
				<td>01/22/16</td>
				<td><a class="btn btn-green1 btn-micro ghost">Approve</a></td>
			</tr>
			<tr>
				<td class="align-left">theirUsername</td>
				<td>theirID</td>
				<td><a href="#">Post</a>, <a href="#">Post</a>, <a href="#">Post</a> </td>
				<td>5443 Crossvine Cr, Addison TX 75912</td>
				<td>$72,000</td>
				<td>01/22/16</td>
				<td><a class="btn btn-green1 btn-micro ghost">Approve</a></td>
			</tr>
			<tr>
				<td class="align-left">theirUsername</td>
				<td>theirID</td>
				<td><a href="#">Post</a>, <a href="#">Post</a>, <a href="#">Post</a> </td>
				<td>5443 Crossvine Cr, Addison TX 75912</td>
				<td>$72,000</td>
				<td>01/22/16</td>
				<td><a class="btn btn-green1 btn-micro ghost">Approve</a></td>
			</tr>
		</tbody>
	</table>
</form>
