<h2 class="heading">Check Payouts</h2>
<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>
<div class="clearfix br"></div>
<table class="tbl">
	<thead>
		<tr>
			<th class="align-left">Influencer</th>
			<th>ID</th>
			<th>Posts</th>
			<th>Followers</th>
			<th>Address</th>
			<th>Amount</th>
			<th>Requested</th>
			<th>Signature</th>
			<th>Send Check</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let inf of list | filter:FilterUsers">
			<td class="align-left">{{inf.name}}</td>
			<td>{{inf.id}}</td>
			<td><template ngFor let-it [ngForOf]="inf.completedDeals" let-i="index">
				<a title="{{it}}" href="{{it}}" target="_blank">{{i+1}}</a>
			</template></td>
			<td>{{inf.followers}}</td>
			<td>{{address(inf)}}</td>
			<td>${{inf.pendingPayout?.toFixed(2)}}</td>
			<td>{{inf.requestedCheck * 1000 | date}}</td>
			<td><a href="https://app.hellosign.com/editor/view/super_group_guid/{{inf.sigId}}" target="_blank">Click for Doc</a></td>
			<td><button class="btn btn-green1 btn-micro ghost" (click)="approve(inf.id)">Approve</button></td>
		</tr>
	</tbody>
</table>

