<h2 class="heading">Sort Content By:</h2>
	<div class="grid-100 mobile-grid-100 grid-parent">
		<div class="grid-100 mobile-grid-100">
			<p align="center">Sort by:
				<a href="javascript:" (click)="SortBy('published')">Most Recent</a> -
				<a href="javascript:" (click)="SortBy('views')">Views</a> -
				<a href="javascript:" (click)="SortBy('likes')">Likes</a> -
				<a href="javascript:" (click)="SortBy('comments')">Comments</a> -
				<a href="javascript:" (click)="SortBy('shares')">Shares</a> -
				<a href="javascript:" (click)="SortBy('clicks')">Clicks</a>
			</p>
			<!-- TBI - <a href="#">Link Clicks</a> - <a href="#">@Mentions</a> - <a href="#">#Hashtag Boosts</a></p> -->

			<div class="grid-100 mobile-grid-100">
					<div class="form-group has-icon icon-search icon-left" style="margin-left: 30%;">
						<input style="max-width: 300px;" type="text" placeholder="Search by username..." class="form-control" [(ngModel)]="kw" name="kw">
					</div>
			</div>

		</div><br>

<h2 class="heading">Content generated:</h2>
<ng-template ngFor let-it [ngForOf]="list | filter:FilterByUserName">
	<div class="grid-100 mobile-grid-100 grid-parent auditRow" [class.bonus]="it.bonus">
		<a href="{{it.url}}" target="_blank">
			<div align="left" class="grid-25 mobile-grid-100 grid-parent auditPic"><img [src]="it.socialImage"></div>
		</a>
		<div class="grid-50 mobile-grid-100 grid-parent auditDesc">
			<div class="auditRowHeader">{{it.username}}</div>
			Published: <span id="counts" style="font-size: 10px;">{{it.published * 1000 | date}}</span>
			<p style="max-height: 85px; overflow: scroll;">{{it.caption}}</p>
			<small>
				<img height="15" src="./static/img/view.png"> <span class="ttip" title="Est Views">{{it.views || 'N/A'}} - </span>
				<img height="15" src="./static/img/like.png"> <span class="ttip" title="Likes">{{it.likes || 'N/A'}} - </span>
				<img height="15" src="./static/img/comment.png"> <span class="ttip" title="Comments">{{it.comments || 'N/A'}} - </span>
				<img height="15" src="./static/img/share.png"> <span class="ttip" title="Shares">{{it.shares || 'N/A'}} - </span>
				<img height="15" src="./static/img/click.png"> <span class="ttip" title="Link Clicks (Uniques)">{{it.clicks || 'N/A'}} ({{it.uniques || 'N/A'}})</span>
			</small><br>
			<small style="font-size: 10px;">
				Campaign: <span id="counts" style="font-size: 10px;">({{it.campaignID || 'N/A'}}) - {{it.campaignName || 'N/A'}}</span>
			</small>
		</div>
		<div class="grid-25 mobile-grid-100 grid-parent auditLast" align="right" style="padding-right: 20px;">
			<a href="{{it.url}}" class="btn btn-block btn-micro btn-blue ghost" target="_blank">View</a><br><br>
			<button class="btn btn-block btn-micro btn-blue ghost" (click)="urlDialog.show(it, true)" *ngIf="!isBanned(it.infID)">+ Bonus Post</button><br><br>
			<button class="btn btn-block btn-micro btn-scarlet ghost" (click)="ban(it.infID)" *ngIf="!isBanned(it.infID)">Ban</button>
			<br>
		</div>
	</div>
	<div class="clearfix br"></div>
</ng-template>
<modal title="Add Bonus Post URL:" width="300px" [buttons]=urlButtons #urlDialog>
	<div>
		<label for="url"><strong>Post URL:</strong></label>
		<input id="url" type="text">
	</div>
</modal>
