<div class="grid-62 mobile-grid-100 grid-parent" three-column>
	<div class="content-holder center-widget">
		<form #f="ngForm" novalidate (ngSubmit)="save()">
			<div class="grid-100 grid-parent">
				<h2 class="heading">1. Basic campaign settings

					<div class="onoffswitch status" data-for="toggle-status">
						<input type="checkbox" name="status" class="onoffswitch-checkbox" id="status" [(ngModel)]="data.status">
						<label class="onoffswitch-label" for="status">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>

				</h2>

				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This image will draw influencers into your campaign. It should represent the product or service you are promoting.">Featured Image: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent" style="margin-top:13px;">
						<span class="result rounded" *ngIf="cropData.image">
							<img [src]="cropData.image" style="max-width: 500px; border-radius: 10px;" height="200px">
							<br>
						</span>
						<a href="javascript:" class="btn btn-xs btn-green1" (click)="toggleImage()">Select</a> <a href="http://swayops.com/wiki/selecting-deals.php" target="_blank">See placement examples</a>
						<div class="dialog" id="selImage">
							<div style="width: 750px;" class="nosel">
								<h2 class="heading">Select A Featured Image
									<a href="javascript:" class="fui-cross" (click)="toggleImage(true)" title="Close" style="float: right"></a>
								</h2>
								<div>
									<input id="custom-input" type="file" (change)="setImage($event)">
									<label for="custom-input" class="btn btn-xs btn-green1"><strong>Choose file &#187;</strong></label>
								</div>
								<br>
								<img-cropper #cropper [image]="cropData" [settings]="cropperSettings"></img-cropper>
								<br>
								<br>
								<div style="float: right;">
									<a href="javascript:" class="btn btn-block btn-xs btn-blue ghost" (click)="toggleImage(true)">Cancel</a>
									<a href="javascript:" class="btn btn-block btn-xs btn-green1" (click)="toggleImage()">Save &amp; crop image &#187;</a>
								</div>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This will be the title of your campaign as seen by influencers and within your reporting.">Campaign Name:</span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<input type="text" name="name" placeholder="Your campaign name" class="form-control" [(ngModel)]="data.name" required>
					</div>
				</div>

				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="You will be billed the full amount upfront. If at the end of your campaign budget remains, you may transfer it via the billing page to another campaign or request the delta be refunded.">Monthly Budget: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<input type="number" min="150" name="budget" placeholder="$150 minimum recommended" class="form-control" [(ngModel)]="data.budget" required (change)="updateSidebar('budget')">
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						Task To Perform:
						<br><a style="font-size:12px;" href="#">[Video Advice]</a>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<textarea class="flat-textarea" name="task" placeholder="Post a photo or video of you and our product. An example caption could be: “I love using NIKE throughout my Monthly life. Checkout more upcoming items from #NIKE”" [(ngModel)]="data.task" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Select the social networks for influencers to post on. Be aware that our algorithms will automatically attempt to reach as many customers as possible on your behalf. Limiting social networks will limit performance in most cases.">Networks: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<div class="checkbox">
							<input id="instagram" name="instagram" type="checkbox" [(ngModel)]="data.instagram" (change)="updateSidebar('network')" [disabled]=opts.isEdit>
							<label for="instagram">Instagram</label>

							<input id="twitter" name="twitter" type="checkbox" [(ngModel)]="data.twitter" (change)="updateSidebar('network')" [disabled]=opts.isEdit>
							<label for="twitter">Twitter</label>

							<input id="youtube" name="youtube" type="checkbox" [(ngModel)]="data.youtube" (change)="updateSidebar('network')" [disabled]=opts.isEdit>
							<label for="youtube">YouTube</label>

							<input id="facebook" name="facebook" type="checkbox" [(ngModel)]="data.facebook" (change)="updateSidebar('network')" [disabled]=opts.isEdit>
							<label for="facebook">Facebook</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Please select the items you want influencers to attach to their posts.">Requirements: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<div class="grid-40 mobile-grid-100 grid-parent">
							<div class="checkbox">
								<input type="checkbox" name="doTags" id="doTags" [(ngModel)]="opts.tags" [disabled]=opts.isEdit>
								<label for="doTags">#tag us</label>
							</div>
						</div>
						<div class="grid-60 mobile-grid-100 grid-parent">
							<div class="form-group">
								<input type="text" name="tags" placeholder="#hashtag1, #hashtag2, etc..." class="form-control" [(ngModel)]="data.tags" [disabled]="!opts.tags || opts.isEdit" required (change)="updateSidebar()">
							</div>
						</div>
						<div class="grid-40 mobile-grid-100 grid-parent">
							<div class="checkbox">
								<input type="checkbox" name="doMention" id="doMention" [(ngModel)]="opts.mention" [disabled]=opts.isEdit>
								<label for="doMention">@mention us</label>
							</div>
						</div>
						<div class="grid-60 mobile-grid-100 grid-parent">
							<div class="form-group">
								<input type="text" name="mention" placeholder="@myBrand" class="form-control" [(ngModel)]="data.mention" [disabled]="!opts.mention || opts.isEdit" required (change)="updateSidebar()">
							</div>
						</div>
						<div class="grid-40 mobile-grid-100 grid-parent">
							<div class="checkbox">
								<input type="checkbox" name="doLink" id="doLink" [(ngModel)]="opts.link" [disabled]=opts.isEdit>
								<label for="doLink">https://Link us</label>
							</div>
						</div>
						<div class="grid-60 mobile-grid-100 grid-parent">
							<div class="form-group">
								<input type="text" name="link" placeholder="The link you wish to promote" class="form-control" [(ngModel)]="data.link" [disabled]="!opts.link || opts.isEdit" required (change)="updateSidebar()">
							</div>
						</div>

					</div>
				</div>
			</div>

			<br>
			<br>
			<div class="field-set grid-100 grid-parent head-toggle">
				<h2 class="heading">2. Targeting <span>*optional</span></h2>
				<div class="onoffswitch targeting" data-for="toggle-targeting">
					<input type="checkbox" name="targeting" class="onoffswitch-checkbox" id="targeting">
					<label class="onoffswitch-label" for="targeting">
						<span class="onoffswitch-inner showhide"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
			<div class="content-toggle toggle-targeting">
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This will attempt to only leverage influencers who match your gender target.">Gender: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<div class="checkbox">
							<input type="checkbox" name="female" id="female" [(ngModel)]="data.female" (change)="updateSidebar('gender')">
							<label for="female">Female</label>

							<input type="checkbox" name="male" id="male" [(ngModel)]="data.male" (change)="updateSidebar('gender')">
							<label for="male">Male</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This will attempt to only leverage influencers who primarily reside within your geo selection.">Geo: <img src="/static/img/questionTooltip.png"></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<select multiple="multiple" class="geo form-control multiselect multiselect-info"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Enter keywords to target influencers by the genre of content their posts often contain. IE: Snowboarding, Boats, Beauty, etc. Please select multiple keywords to expand the reach of your campaign.">Keywords: <img src="/static/img/questionTooltip.png"></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<select multiple="multiple" class="kws form-control multiselect multiselect-info"></select>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Enter in emails of influencers you want to invite to this campaign. By using this filter, all other influencers not matching your email addresses will be disallowed to participate in the campaign.">Invite only: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<input type="text" name="whitelist" [(ngModel)]="data.whitelist" (blur)="!!data.whitelist && updateForecast()" placeholder="invite@MyInfluencer.com, anotherPerson@y.com" class="form-control" [disabled]=opts.isEdit>
					</div>
				</div>

			</div>

			<br>
			<br>
			<div class="field-set grid-100 grid-parent head-toggle">
				<h2 class="heading">3. Influencer Groups <span>*optional</span></h2>
				<div class="onoffswitch influencers" data-for="toggle-influencers">
					<input type="checkbox" name="influencers" class="onoffswitch-checkbox" id="influencers">
					<label class="onoffswitch-label" for="influencers">
						<span class="onoffswitch-inner showhide"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
			<div class="content-toggle toggle-influencers">
				<div class="form-group">
					<div class="grid-100 mobile-grid-100 grid-parent">
						<div class="grid-70 mobile-grid-100 grid-parent">
							<div class="form-group">
								Please select the influencer groups you would like to prioritize:
							</div>
						</div>
						<div class="grid-30 mobile-grid-100 grid-parent">
							<div class="checkbox">
								<input name="selectAllInfluencers" type="checkbox" [checked]=allCats>
								<label for="selectAllInfluencers" (click)=setAllCats($event)>Select All</label>
							</div>
						</div>
						<br>
						<div class="grid-50 mobile-grid-100 grid-parent influencer-g" *ngFor="let c of this.categories">
							<div class="left img">
								<div class="checkbox">
									<input [name]="c.cat" [id]="c.cat" type="checkbox" [(ngModel)]="data.categories[c.cat]" (change)="updateSidebar('category')">
									<label [attr.for]="c.cat"> </label>
								</div>
								<img src="{{ categoryImages[c.cat] || '/static/img/influencers/i-g2.png' }}" />
							</div>
							<div class="right meta">
								<p class="i-n" style="text-transform: capitalize;">{{c.cat}}</p>
								<p class="i-s"><span>Influencers: </span>{{c.infs || 'N/A'}} &nbsp;&nbsp;&nbsp; <span>Est Reach: </span>{{c.reach || 'N/A'}}</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<br>
			<br>
			<div class="field-set grid-100 grid-parent">
				<h2 class="heading" id="giveOut">4. Give out Perks <span>*optional</span></h2>
				<div class="onoffswitch perks" data-for="toggle-perks">
					<input type="checkbox" name="perks" class="onoffswitch-checkbox" id="perks" [disabled]=opts.isEdit>
					<label class="onoffswitch-label" for="perks">
						<span class="onoffswitch-inner showhide"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
			<div class="content-toggle toggle-perks">
				<div class="form-group">
					<div class="grid-100 mobile-grid-100 grid-parent">
						Which perks would you would like to give to each influencer:
						<br>
						<p class="note info">Giving away perks is highly recommended but not required. Each influencers that accepts your campaign will be sent a perk. Campaigns with perks have an avg performance boost of <b style="color:#04be5b;">350%</b>. If you require the influencer to post with your product please mention it in the task description.</p>
						<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
							<div class="btn-toolbar toolbar-horizontal">
								<div class="btn-group">
									<a style="min-height: 20px;" class="view-primary" [class.active]="data.perks.type === 1" (click)="resetPerks(1)"><span class="fui-txt">Ship Physical Product</span></a>
									<a style="min-height: 20px;" class="view-primary" [class.active]="data.perks.type === 2" (click)="resetPerks(2)"><span class="fui-txt">Give Coupons</span></a>
								</div>
							</div>
						</div>
						<br>
						<div class="form-group" *ngIf="data.perks.type === 1">
							<p>Please let us know a little about the items you are shipping to Sway and <span style="color:red;">we will provide shipping instructions once you save your campaign</span>:</p>
							<div class="form-group">
								<div class="grid-20 mobile-grid-100 grid-parent">
									Perk Name:
								</div>
								<div class="grid-80 mobile-grid-100 grid-parent">
									<input type="text" [(ngModel)]="data.perks.name" placeholder="My product name..." class="form-control" name="perkName" [disabled]=opts.isEdit>
								</div>
							</div>
							<div class="form-group">
								<div class="grid-20 mobile-grid-100 grid-parent">
									Number of items:
								</div>
								<div class="grid-80 mobile-grid-100 grid-parent">
									<input type="number" [(ngModel)]="data.perks.count" placeholder="How many perks do you plan on sending?" class="form-control" name="perkCount" [disabled]=opts.isEdit>
								</div>
							</div>
						</div>
						<div class="form-group" *ngIf="data.perks.type === 2">
							<div class="form-group">
								<div class="grid-20 mobile-grid-100 grid-parent">
									Coupon Name:
								</div>
								<div class="grid-80 mobile-grid-100 grid-parent">
									<input type="text" [(ngModel)]="data.perks.name" placeholder="My coupon name..." class="form-control" name="perkName" [disabled]=opts.isEdit>
								</div>
							</div>
							<div class="form-group">
								<div class="grid-20 mobile-grid-100 grid-parent">
									Codes:
								</div>
								<div class="grid-80 mobile-grid-100 grid-parent">
									<textarea [(ngModel)]="data.perks.codes" placeholder="Coupon codes, separated by a comma, space or newline" class="form-control" name="perkCodes" [disabled]=opts.isEdit></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="grid-20 mobile-grid-100 grid-parent">
									Instructions:
								</div>
								<div class="grid-80 mobile-grid-100 grid-parent">
									<textarea [(ngModel)]="data.perks.instructions" placeholder="Instructions for using the coupon" class="form-control" name="perkInstr" [disabled]=opts.isEdit></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<br>
			<br>
			<div class="grid-50 mobile-grid-40 grid-parent">
				<a href="javascript:history.back()" class="btn btn-block btn-lg btn-blue ghost">Back</a>
			</div>
			<div class="grid-50 mobile-grid-60 grid-parent align-right">
				<button type="submit" class="btn btn-block btn-lg btn-green1" [disabled]="!f.valid || loading">Save &amp; Launch &#187;</button>
			</div>
		</form>
		<br>
		<br>
	</div>
</div>
<div class="grid-23 mobile-grid-100 grid-parent content-holder right-sb" style="transition: margin-top 200ms ease-out;">
	<div class="est-reach">
		<p>MAX REACH</p>
		<h3></h3>
		<p class="normal">{{forecast.reach | fmtNum:'0' }} Fans</p>
		<p class="normal">{{forecast.influencers | fmtNum:'0' }} Influencers</p>
	</div>
	<ul class="cat-status">
		<li>
			<div class="grid-100 mobile-grid-100">
				<p>
					<label>Monthly Budget:</label> ${{data.budget || 0}}</p>
			</div>
		</li>
		<li *ngIf="sidebar.reqs">
			<div class="grid-100 mobile-grid-100">
				<p>
					<label>Requirements:</label> {{sidebar.reqs}}</p>
			</div>
		</li>
		<li *ngIf=sidebar.geos>
			<div class="grid-100 mobile-grid-100">
				<p>
					<label>Locations:</label> {{sidebar.geos}}</p>
			</div>
		</li>
		<li *ngIf=sidebar.networks>
			<div class="grid-100 mobile-grid-100">
				<p>
					<label>Networks:</label> {{sidebar.networks}}</p>
			</div>
		</li>
		<li *ngIf=sidebar.categories>
			<div class="grid-100 mobile-grid-100" style="text-transform:capitalize;">
				<p>
					<label>Influencer Groups:</label> {{sidebar.categories}}</p>
			</div>
		</li>
		<li *ngIf=sidebar.keywords>
			<div class="grid-100 mobile-grid-100" style="text-transform:capitalize;">
				<p>
					<label>Keywords:</label> {{sidebar.keywords}}</p>
			</div>
		</li>
		<li>
			<div class="grid-100 mobile-grid-100" style="text-transform:capitalize;">
				<p *ngIf="!!sidebar.lastFour">
					<label>Billing Method:</label> <span style="font-size: 12px;">****-****-****-{{sidebar.lastFour}}</span>
				</p>
				<p *ngIf="!!sidebar.totalCharge">
					<label style="color:#04be5b;">Amount Due Today:</label> ${{sidebar.totalCharge.toFixed(2)}}
					<br>
					<small style="font-size: 10px;"><img src="/static/img/questionTooltip.png"> Note: Upon creation budgets are pro-rated based on the number of days remaining in the month. Your billing method on file will renew your monthly budget on the 1st of every month therafter.</small>
				</p>
			</div>
		</li>
	</ul>
</div>
