<h2 class="heading">Create A Perk Group</h2>

<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
<b>What happens after?: </b>
<br/>
- We will provide shipping labels for you on the next page<br/>
- We will store your shipment<br/>
- We will ship influencers items when they accept your campaigns<br/>
- We will verify that each influencer post contains your item until no items remain
</div>

<form>
<div class="form-group">
	<div class="grid-20 mobile-grid-100 grid-parent">
		Perk Name:
	</div>
	<div class="grid-80 mobile-grid-100 grid-parent">
		<input type="text" value="" placeholder="Name your product or coupon", class="form-control"><br/><br/>
	</div>

	<div class="grid-20 mobile-grid-100 grid-parent">
		Total # Items:
	</div>
	<div class="grid-80 mobile-grid-100 grid-parent">
		<input type="file" value="" placeholder="The total number of items you want to give away", class="form-control"><br/><br/>
	</div>
<!-- Need to discuss what we need for pricing shipments. Like diameter of each box. Weight etc.
	<div class="grid-20 mobile-grid-100 grid-parent">
		Email:
	</div>
	<div class="grid-80 mobile-grid-100 grid-parent">
		<input type="text" value="" placeholder="Your email", class="form-control"><br/><br/>
	</div>
	<div class="grid-20 mobile-grid-100 grid-parent">
		Phone:
	</div>
	<div class="grid-80 mobile-grid-100 grid-parent">
		<input type="text" value="" placeholder="Your primary phone number", class="form-control">
	</div>
	<div class="grid-20 mobile-grid-100 grid-parent">
		<br/>New Pass?:
	</div>
-->
	<div class="grid-80 mobile-grid-100 grid-parent"><br/>
		<a href="#fakelink" class="btn btn-small btn-green1">Create Perk &#187;</a>
	</div>
</div>
</form>
