<div class="grid-62 mobile-grid-100 grid-parent campaignPage" three-column>
	<div class="content-holder center-widget">
		<form #f="ngForm" novalidate (ngSubmit)="save()">
			<div class="grid-100 grid-parent">
				<h2 class="heading">1. Create Custom Influencer Audience</h2>

				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This image appears as the audience background pic. Please use a photo relevant to your influencer group.">Thumbnail: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent" style="margin-top:13px;">
						<span class="result rounded" *ngIf="!cropData.image && data.imageUrl">
							<img [src]="data.imageUrl" style="max-width: 500px; border-radius: 10px;" height="200px">
							<br>
						</span>
						<span class="result rounded" *ngIf="cropData.image">
							<img [src]="cropData.image" style="max-width: 500px; border-radius: 10px;" height="200px">
							<br>
						</span>
						<a href="javascript:" class="btn btn-xs btn-green1" (click)="toggleImage()">Select</a>

						<div class="dialog" id="selImage">
							<div style="width: 750px;" class="nosel">
								<h2 class="heading">Select a Featured Image
									<a href="javascript:" class="fui-cross" (click)="toggleImage(true)" title="Close" style="float: right"></a>
								</h2>
								<div>
									<input id="custom-input" type="file" (change)="setImage($event)">
									<label for="custom-input" class="btn btn-xs btn-green1"><strong>Choose file &#187;</strong></label>
								</div>
								<br>
								<img-cropper #cropper [image]="cropData" [settings]="cropperSettings"></img-cropper>
								<br>
								<br>
								<div style="float: right;">
									<a href="javascript:" class="btn btn-block btn-xs btn-blue ghost" (click)="toggleImage(true)">Cancel</a>
									<a href="javascript:" class="btn btn-block btn-xs btn-green1" (click)="toggleImage()">Save &amp; crop image &#187;</a>
								</div>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This will be the name of your audience.">Audience Name:</span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<input type="text" name="name" placeholder="Sports Stars, Makeup Girls, etc..." class="form-control" [(ngModel)]="data.name" required>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Select the social networks influencers must have to be in this audience group.">Networks: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<div class="checkbox">
							<input id="instagram" name="instagram" type="checkbox" [(ngModel)]="data.instagram" (change)="updateSidebar('network')">
							<label for="instagram">Instagram</label>

							<input id="twitter" name="twitter" type="checkbox" [(ngModel)]="data.twitter" (change)="updateSidebar('network')">
							<label for="twitter">Twitter</label>

							<input id="youtube" name="youtube" type="checkbox" [(ngModel)]="data.youtube" (change)="updateSidebar('network')">
							<label for="youtube">YouTube</label>

							<input id="facebook" name="facebook" type="checkbox" [(ngModel)]="data.facebook" (change)="updateSidebar('network')">
							<label for="facebook">Facebook</label>
						</div>
					</div>
				</div>
			</div>

			<br>
			<br>
			<div class="field-set grid-100 grid-parent head-toggle">
				<h2 class="heading">2. Targeting <span>*optional</span></h2>
				<div class="onoffswitch targeting" data-for="toggle-targeting">
					<input type="checkbox" name="targeting" class="onoffswitch-checkbox" id="targeting">
					<label class="onoffswitch-label" for="targeting">
						<span class="onoffswitch-inner showhide"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
			<div class="content-toggle toggle-targeting">
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This will attempt to only leverage influencers who match your gender target.">Gender: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<div class="checkbox">
							<input type="checkbox" name="female" id="female" [(ngModel)]="data.female" (change)="updateSidebar('gender')">
							<label for="female">Female</label>

							<input type="checkbox" name="male" id="male" [(ngModel)]="data.male" (change)="updateSidebar('gender')">
							<label for="male">Male</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="This will attempt to only leverage influencers who primarily reside within your geo selection.">Geo: <img src="/static/img/questionTooltip.png"></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<select multiple="multiple" class="geo form-control multiselect multiselect-info"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Enter keywords to target influencers by the genre of content their posts often contain. IE: Snowboarding, Boats, Beauty, etc. Please select multiple keywords to expand the reach of your campaign.">Keywords: <img src="/static/img/questionTooltip.png"></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<select multiple="multiple" class="kws form-control multiselect multiselect-info"></select>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Enter in emails of your audience members.">Members: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<input type="text" name="members" [(ngModel)]="data.members" placeholder="invite@MyInfluencer.com, anotherPerson@y.com" class="form-control">
					</div>
				</div>

			</div>
			<br>
			<br>
			<div class="field-set grid-100 grid-parent head-toggle">
				<h2 class="heading">2.3. Filters <span>*optional</span></h2>
				<div class="onoffswitch filters" data-for="toggle-filters">
					<input type="checkbox" name="filters" class="onoffswitch-checkbox" id="filters">
					<label class="onoffswitch-label" for="filters">
						<span class="onoffswitch-inner showhide"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
			<div class="content-toggle toggle-filters">
				<div class="form-group">
					<div class="grid-20 mobile-grid-100 grid-parent">
						<span class="ttip" title="Filter by the number of followers">Followers: <img src="/static/img/questionTooltip.png" /></span>
					</div>
					<div class="grid-80 mobile-grid-100 grid-parent">
						<input type="number" [(ngModel)]="data.followerTarget.from" placeholder="min" class="form-control minmax" min="0" name="minFollowers" (change)="updateSidebar('filter')"> -
						<input type="number" [(ngModel)]="data.followerTarget.to" placeholder="max" class="form-control minmax" min="0" name="maxFollowers" (change)="updateSidebar('filter')">
					</div>
				</div>
			</div>

			<br>
			<br>

			<div class="grid-50 mobile-grid-50 grid-parent align-left">
				<button class="btn btn-block btn-lg" type="button" (click)="addAllMembers()" [disabled]="!infData">Add All</button>
			</div>
			<div class="grid-50 mobile-grid-50 grid-parent align-right">
				<button type="submit" class="btn btn-block btn-lg btn-green1" [disabled]="!f.valid || loading">Save Audience &#187;</button>
			</div>
			<br><br><br>
			<div class="infList">
				<div *ngFor="let inf of infData" class="grid-100 grid-parent" style="margin-bottom: 10px;">
					<div class="grid-20 mobile-grid-30">
						<img style="border-radius: 5px; height: auto; width: 100%; margin-right: 10px; background-color: #fff;" [src]=inf.profilePicture> 
					</div>
					<div class="grid-50 mobile-grid-70" style="line-height: inherit;">
						<a (click)="inf.showDetails = ! inf.showDetails"><span style="font-size: 16px;">{{ inf.name | trunc:20 }}</span></a> - Social icons linking to each
						<br>
						<img style="width: auto; height: auto; background:none;" src="static/img/location-icon.png"> {{ inf.Location}}
						<br>
						Total Followers: <b>{{inf.followers | fmtNum}}</b>
						<br>
						Avg. Engagements: <b>{{inf.avgEngs | fmtNum:'N/A'}}</b>
						<br>
						Sway Score: <b>{{inf.swayScore | fmtNum:'N/A'}}</b>
						<br>
					</div>
					<div class="grid-30 mobile-grid-100 align-right" style="line-height: inherit;">
					<br>
						Rate: <b>${{inf.avgEngs | fmtNum:'N/A'}} - {{inf.avgEngsIncreased | fmtNum:'N/A'}}</b>
						<br>
						<button class="btn btn-block btn-lg btn-blue ghost wide" (click)="addToMembers(inf.email)" *ngIf="!isInMembers(inf.email)">ADD TO AUDIENCE</button>
						<button class="btn btn-block btn-lg btn-green1 ghost wide" (click)="delFromMembers(inf.email)" *ngIf="isInMembers(inf.email)">INCLUDED</button>
					</div>
					<!--dropdown with extra info-->
					<div class="grid-100 grid-parent">
						<div class="grid-50 mobile-grid-70" style="line-height: inherit;" *ngIf="inf.showDetails">
						Extra insight data coming soon.
						</div>
					</div>

				</div>
			</div>
		</form>
		<br>
		<br>
	</div>
</div>
<div class="grid-23 mobile-grid-100 grid-parent content-holder right-sb" style="transition: margin-top 200ms ease-out;">
	<div class="est-reach">
		<p>MAX REACH</p>
		<h3></h3>
		<p class="normal">{{forecast.reach | fmtNum:'0' }} Fans</p>
		<p class="normal">{{forecast.influencers | fmtNum:'0' }} Influencers</p>
	</div>

	<ul class="cat-status">
		<li>
			<div class="inf-reach grid-100 mobile-grid-100" *ngIf="forecast.loading">
				<loader size="70px"></loader>
			</div>
		</li>
		<li *ngIf="!!sidebar.categories">
			<div class="grid-100 mobile-grid-100" style="text-transform:capitalize;">
				<p><check [cond]=true size="20px"></check><label>Categories:</label><br>{{sidebar.categories}}</p>
			</div>
		</li>
		<li>
			<div class="grid-100 mobile-grid-100">
				<p><check [cond]="!!sidebar.networks" size="20px"></check><label>Inventory:</label> {{sidebar.networks}}</p>
			</div>
		</li>
		<li *ngIf="!!sidebar.keywords">
			<div class="grid-100 mobile-grid-100" style="text-transform:capitalize;">
				<p><check [cond]="!!sidebar.keywords" size="20px"></check><label>Keywords:</label> {{sidebar.keywords}}</p>
			</div>
		</li>
		<li *ngIf="!!sidebar.geos">
			<div class="grid-100 mobile-grid-100">
				<p><check [cond]="!!sidebar.geos" size="20px"></check><label>Locations:</label> {{sidebar.geos}}</p>
			</div>
		</li>
	</ul>
</div>
<modal title="Top 250 Influencers in Forecast" width="800px" [buttons]="infDlgButtons" #infDlg class="infList">
	<div *ngIf="infDlg.data && infDlg.data.length"><button class="btn" (click)="addAllMembers(infDlg)">Add All</button></div><br>
	<div *ngFor="let inf of infDlg.data" class="inf">
		<img [src]=inf.profilePicture> <a [href]=inf.url [title]=inf.name target="_blank">{{ inf.name | trunc:20 }}</a><b> | </b>
		<span class="numFollowers">Followers: {{inf.followers | fmtNum}}</span><b> | </b><span class="numEng">Avg. Engs.: {{inf.avgEngs | fmtNum:'N/A'}}</span>
		<button class="btn btn-block btn-lg btn-orange ghost wide atwl" (click)="addToMembers(inf.email)" *ngIf="!isInMembers(inf.email)">ADD TO Members</button>
		<button class="btn btn-block btn-lg btn-green1 ghost wide" (click)="delFromMembers(inf.email)">INCLUDED</button>
	</div>
</modal>
