<h2 class="heading">How To Ship</h2>

<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
<b>Yay! We just need your package to arrive so we can distribute each item out effeciently: </b>
<br/>
- We will warehouse your shipment and approve your campaign to start once it arrives<br/>
- Please send us your shipment with your Perk Name written on all packages
</div>


	<div class="grid-80 mobile-grid-100 grid-parent"><br/>
		<a href="#fakelink" class="btn btn-block btn-micro btn-blue ghost">Reset Password</a>
		<br/><br/><br/>
		<a href="#fakelink" class="btn btn-small btn-green1">Save my profile &#187;</a>
	</div>

</form>
