<h2 class="heading">Admin Stats</h2><br/>
<div class="grid-100 grid-parent">
	<div class="grid-40 mobile-grid-100 grid-parent">
		<h2>Demand Side</h2>
		<p>Agencies: {{ data.adAgencies }}</p>
		<p>Advertisers: {{ data.advertisers }}</p>
		<p>Avg Advertisers Per: {{ (data.advertisers/data.adAgencies).toFixed(0) }}</p>
		<p>Currently Active Campaigns: {{ data.cmps }}</p>
		<p>Perks Inbound: {{ data.perkInb }}</p>
		<p>Perks Storing: {{ data.perkStore }}</p>
		<p>Perks Outbound: {{ data.perkOut }}</p>
		<p>Perks Delivered: {{ data.perkDeliver }}</p>
	</div>
	<div class="grid-30 mobile-grid-100 grid-parent">
		<h2>Exchange</h2>
		<p>Deals Accepted: {{ data.dealAccepted }}</p>
		<p>Deals Completed: {{ data.dealCompleted }} </p>
		<p>Completed Rate: {{ data.completionRate | fmtNum }}%</p>
	</div>
	<div class="grid-30 mobile-grid-100 grid-parent">
		<h2>Supply Side</h2>
		<p>Agencies: {{ data.talentAgencies | fmtNum }}</p>
		<p>Avg Influencers Per: {{ data.infPerTalent | fmtNum }}</p>
		<p>Influencers: {{ data.influencers | fmtNum }}</p>
		<p>Total Agency Payout: ${{ data.totalAgencyPayout?.toFixed(2) | fmtNum }}</p>
		<p>Total Influencer Payout: ${{ data.totalInfluencerPayout?.toFixed(2) | fmtNum }}</p>
		<p>Reach/ Followers: {{ data.reach | fmtNum }}</p>
		<p>Likes: {{ data.likes | fmtNum }}</p>
		<p>Comments: {{ data.comments | fmtNum }}</p>
		<p>Shares: {{ data.shares | fmtNum }}</p>
		<p>Views / Clicks: {{ data.views | fmtNum }} / {{ data.clicks | fmtNum }}</p>
	</div>
</div>
