<h2 class="heading">Admin Stats</h2><br/>
<div class="grid-100 grid-parent">
	<div class="grid-40 mobile-grid-100 grid-parent">
		<h2>Demand Side</h2>
		<p>Agencies: {{ data.adAgencies }}</p>
		<p>Advertisers: {{ data.advertisers }}</p>
		<p>% with campaigns: ??</p>
		<p>Currently active campaigns: ??</p>
		<p>Perks inbound: {{ data.perkInb }}</p>
		<p>Perks storing: {{ data.perkStore }}</p>
		<p>Perks outbound: {{ data.perkOut }}</p>
		<p>Perks delivered: {{ data.perkDeliver }}</p>
	</div>
	<div class="grid-30 mobile-grid-100 grid-parent">
		<h2>Exchange</h2>
		<p>Deals outbound: {{ data.dealCompleted + data.dealAccepted }}</p>
		<p>Deals accepted: {{ data.dealAccepted }}</p>
		<p>Deals completed: {{ data.dealCompleted }} </p>
		<p>Acceptence rate: ??</p>
		<p>Completed rate: ??</p>
		<p>Anti-fraud avg: ??</p>
	</div>
	<div class="grid-30 mobile-grid-100 grid-parent">
		<h2>Supply side</h2>
		<p>Agencies: {{ data.talentAgencies }}</p>
		<p>Avg influencers per: {{ (data.influencers/data.talentAgencies).toFixed(2) }}</p>
		<p>Influencers: {{ data.influencers }}</p>
		<p>Total ever paid out: ${{ data.totalAgencyPayout?.toFixed(2) }}</p>
		<p>Reach/ Followers: {{ data.reach }}</p>
		<p>Verified (Opt-in): ??</p>

	</div>
</div>
