<h2 class="heading">Audience Lab:</h2>
	<div class="grid-100 mobile-grid-100 grid-parent">
	<p>Welcome to the Sway Audience Lab. Here you can discover new opportunities, find your most influential fans, and gain unfair advantages using popular integration partners.</p>

		<h2 class="heading">Connect your brand accounts:</h2>
		<p>Find out if you already have iconic influencers following your brand. We will automatically create an audience from this experiment.</p>


		<h2 class="heading">Deep analysis [MVPindex.com]:</h2>
		<p>You've signed up the best brand ambassadors on social media, but what's it all worth? MVPindex's Engagement Value Assessment™ (EVA™) uses a sophisticated and proprietary valuation algorithm to determine social marketing value based on impressions, engagement, virality, and social authority.</p>
		
		