<div class="grid-15 mobile-grid-100 grid-parent content-holder left-sb" *ngIf="user">
	<div class="pushDown"></div>
	<div class="user-section">
		<a class="anchor" [routerLink]="['/editProfile', user.id]" title="Edit My Profile">
			<img [src]="user.imageUrl || '/static/img/user.png'" class="avatar" style="width: 60%; border-radius: 100%; margin-bottom: 10px;">
		</a>
		<label>{{ user.name }}</label>
		<small>({{ email }})</small>
	</div>
	<div class="user-account-options" *ngIf="user.admin">
		<ul>
			<li class="li-content"><a [routerLink]="['/dashboard']" [routerLinkActive]="['is-active']">Admin Stats</a></li>
			<li class="li-influencers"><a [routerLink]="['/mAgencies']" [routerLinkActive]="['is-active']">Media Agencies</a></li>
			<li class="li-perks"><a [routerLink]="['/mTalentAgencies']" [routerLinkActive]="['is-active']">Talent Agencies</a></li>
			<li><a [routerLink]="['/mCampaignPerks']" [routerLinkActive]="['is-active']">Inbound</a></li>
			<li><a [routerLink]="['/mOutboundPerks']" [routerLinkActive]="['is-active']">Perks To Ship</a></li>
			<li><a [routerLink]="['/checkPayouts']" [routerLinkActive]="['is-active']">Check Payouts</a></li>
			<li><a [routerLink]="['/assignGame']" [routerLinkActive]="['is-active']">Assign Game [<span [innerHTML]="assignGameNum"></span>]</a></li>
		</ul>
	</div>
	<div class="user-account-options" *ngIf="user.adAgency">
		<ul>
			<li class="li-campaign"><a [routerLink]="['/mAdvertisers', user.id]" [routerLinkActive]="['is-active']">My Advertisers</a></li>
			<!--<li class="li-reporting"><a [routerLink]="['/reporting', user.id]" [routerLinkActive]="['is-active']">Reporting</a></li>-->
		</ul>
	</div>
	<div class="user-account-options" *ngIf="user.talentAgency">
		<div class="user-account-options">
			<ul>
				<li class="li-influencers"><a [routerLink]="['/mTalents', user.id]" [routerLinkActive]="['is-active']">My Talent</a></li>
				<!--<li class="li-reporting"><a [routerLink]="['/reporting', user.id]" [routerLinkActive]="['is-active']">Reporting</a></li>-->
			</ul>
		</div>
	</div>
	<div class="user-account-options" *ngIf="user.advertiser">
		<div class="cr8-campaign"><a [routerLink]="['/createCampaign', user.id]" class="btn btn-green1">CREATE CAMPAIGN</a></div>
		<div class="user-account-options">
			<ul>
				<li class="li-reporting"><a [routerLink]="['/reporting', user.id]" [routerLinkActive]="['is-active']">Dashboard</a></li>
				<li class="li-campaign"><a [routerLink]="['/mCampaigns', user.id]" [routerLinkActive]="['is-active']">My Campaigns</a></li>
				<li class="li-content"><a [routerLink]="['/contentFeed', user.id]" [routerLinkActive]="['is-active']">My Content</a></li>
			</ul>
		</div>
	</div>

	<!-- Put influencer nav here at a later date-->

	<div class="shrink-opt">
		<a class="toside" (click)="api.Logout()"><i class="ico exit ttip" title="Logout"></i></a>
		<a class="anchor" [routerLink]="['/editProfile', user.id]"><i class="ico settings ttip" title="Edit My Profile"></i></a>
		<div class="clearfix"></div>
	</div>
</div>
