<h2 class="heading">Manage billing &amp; payment options</h2>

<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
	Welcome to your billing HQ. You can manage transactions, add new payment methods, and transfer inactive spend into your other campaigns.
	<br>
	<br>
	<p><b>ACTIVE campaign budget: <span style="color:#23c466; font-size: 16px;">${{activeBalance.toFixed(2)}}</span> </b></p>
	<p *ngIf="!!inactiveBalance">INACTIVE budget credit: <b>${{inactiveBalance.toFixed(2)}}</b> | What is this? This is the amount of currency USD, which resides inside of inactive or archived/ deleted campaigns you've previously made. When you create your next campaign, we will automatically draw from this inactive credit amount before we charge your payment method on file further.
	</p>
	<div class="grid-100 mobile-grid-100 grid-parent" *ngIf="!!user.advertiser && (user.parentId === '2' || !user.isIO)">
		<div style="background-color: #ecf0f1; padding: 15px; border-radius: 10px;">
			<div class="grid-50 mobile-grid-50 grid-parent" *ngIf="canChangePlans">
				<h4>Hyper Local <span style="color:#d2335c;" *ngIf="planID === 1">Current Plan</span></h4>
				<p>
					- 1 user login
					<br> - Use influencers with up to 50,000 followers
					<br> - Use influencers on Instagram
					<br> - Giveout coupon perks
					<br> - Target influencers in the USA
					<br>
				</p>
				<h4>Total Price:
					<select class="form-control" style="width: 200px" #plan>
						<option value="yes">$249 / Month</option>
						<!--<option value="no">$1500 / Year</option>-->
					</select>
				</h4>
				<a *ngIf="planID === 1" style="color: #C0C0C0;" (click)="setPlan(0)"><span class="fui-cross-circle"></span> Deactivate access</a>
				<a *ngIf="planID > 1" style="color: #C0C0C0;" (click)="setPlan(1, 0, plan.value)"><span class="fui-triangle-down-small"></span> Downgrade to Hyper-Local access</a>
				<button *ngIf="planID < 1" class="btn btn-block btn-sm btn-green1" (click)="setPlan(1, 0, plan.value)"><span class="fui-plus-circle"></span> Upgrade Access</button>
				<br>
				<br>
			</div>
			<div class="grid-50 mobile-grid-50 grid-parent" *ngIf="canChangePlans">
				<h4><span class="fui-star-2"></span> Premium <span style="color:#d2335c;" *ngIf="planID === 2">Current Plan</span></h4>
				<p>
					- <b>5</b> user logins
					<br> - Use influencers with up to <b>1 million followers</b>
					<br> - Use influencers on Instagram, <b>YouTube, FB, Twitter</b>
					<br> - Giveout coupon perks &amp; <b>physical goods</b>
					<br> - Target influencers in the <b>USA, Canada, EU</b>
					<br>
				</p>
				<h4>Total Price:
					<select class="form-control" style="width: 200px" #plan>
						<option value="yes">$449 / Month</option>
						<!--<option value="no">$5000 / Year</option>-->
					</select>
				</h4>
				<a *ngIf="planID === 2" style="color: #C0C0C0;" (click)="setPlan(0)"><span class="fui-cross-circle"></span> Deactivate access</a>
				<a *ngIf="planID > 2" style="color: #C0C0C0;" (click)="setPlan(2, 0, plan.value)"><span class="fui-triangle-down-small"></span> Downgrade to Premium access</a>
				<button *ngIf="planID < 2" class="btn btn-block btn-sm btn-green1" (click)="setPlan(2, 0, plan.value)"><span class="fui-plus-circle"></span> Upgrade Access</button>
				<br>
				<br>
			</div>
			<div class="grid-50 mobile-grid-50 grid-parent" *ngIf="planID === 3">
				<h4><span class="fui-star-2"></span> Enterprise <span style="color:#d2335c;" *ngIf="planID === 3">Current Plan</span></h4>
				<p>- No restrictions</p>
				<br>
				<br>
			</div>
			<div class="clearfix"></div>
			<br/>
			<div align="middle" *ngIf="canSetEnterprise">
				<input type="number" #price style="width: 150px; height: 38px" class="form-control" placeholder="Price, ex: 1000"> /
				<select class="form-control" style="width: 200px" #plan>
					<option value="yes">Month</option>
					<option value="no">Year</option>
				</select>
				<button class="btn btn-block btn-sm btn-green1" (click)="setPlan(3, price.value, plan.value)" [disabled]="loading"><span class="fui-plus-circle"></span> Set Enterprise Plan</button>
			</div>
			<div align="middle">Need even more power? <a href="#">Get in touch</a> with us to discuss our enterprise options.
				<br>
			</div>
		</div>

	</div>
</div>

<div class="grid-60 grid-parent">
	<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
		<h3 style="color:#d2335c;">Manage payment options:</h3>
		<p>
			Please enter a preferred credit/ debit card to be charged when campaigns are created:
			<br>
		</p>
		<div *ngIf="cc.cardNumber && !isEditing">
			{{cc.firstName}} {{cc.lastName}}
			<br> {{cc.address}}
			<br> {{cc.city}}, {{cc.state}} {{cc.zip}}
			<br>
			<hr> ****-****-*****-{{cc.cardNumber}}
			<br> {{cc.expMonth}} | {{cc.expYear}}
			<br>

			<small><a (click)="isEditing = true" title="Edit">edit</a> | <a (click)="del()" title="Delete">remove</a>  </small>
		</div>
		<form #f="ngForm" (ngSubmit)="save(f)" *ngIf="isEditing">
			<div class="form-group">
				<div class="grid-100 mobile-grid-100 grid-parent">
					<input name="firstName" type="text" placeholder="First Name" class="form-control" [(ngModel)]="cc.firstName" required>
					<br>
					<br>
				</div>
				<div class="grid-100 mobile-grid-100 grid-parent">
					<input name="lastName" type="text" placeholder="Last Name" class="form-control" [(ngModel)]="cc.lastName" required>
					<br>
					<br>
				</div>
				<div class="grid-100 mobile-grid-100 grid-parent">
					<input name="address" type="text" placeholder="Street address" class="form-control" [(ngModel)]="cc.address" required>
					<br>
					<br>
				</div>
				<div class="grid-40 mobile-grid-100 grid-parent">
					<input name="city" type="text" placeholder="City" class="form-control" [(ngModel)]="cc.city" required>
					<br>
					<br>
				</div>
				<div class="grid-10 mobile-grid-100 grid-parent">
					&nbsp;
				</div>
				<div class="grid-50 mobile-grid-100 grid-parent">
					<input name="state" type="text" placeholder="State" class="form-control" [(ngModel)]="cc.state" required>
					<br>
					<br>
				</div>
				<div class="grid-40 mobile-grid-100 grid-parent">
					<input name="country" type="text" placeholder="Country" class="form-control" [(ngModel)]="cc.country" required>
					<br>
					<br>
				</div>
				<div class="grid-10 mobile-grid-100 grid-parent">
					&nbsp;
				</div>
				<div class="grid-50 mobile-grid-100 grid-parent">
					<input name="zip" type="text" (keypress)="numbersOnly($event)" placeholder="Zip" class="form-control" [(ngModel)]="cc.zip" required>
					<br>
					<br>
				</div>

				<div class="grid-100 mobile-grid-100 grid-parent cc-parent">
					<div class="grid-100 mobile-grid-100">
						<div>&nbsp; <strong>{{this.cc.type}}</strong></div>
						<input name="cc" type="text" (keypress)="numbersOnly($event)" placeholder="1111-...." class="form-control" [(ngModel)]="cc.num" required onfocus="this.select()">
					</div>
					<div class="clearfix br"></div>
				</div>
				<div class="grid-40 mobile-grid-100 grid-parent">
					<input name="expMonth" type="number" placeholder="Exp Month" class="form-control" [(ngModel)]="cc.expMonth" required min="1" max="12">
					<br>
					<br>
				</div>
				<div class="grid-10 mobile-grid-100 grid-parent">
					&nbsp;
				</div>
				<div class="grid-50 mobile-grid-100 grid-parent">
					<input name="expYear" type="number" placeholder="Exp Year" class="form-control" [(ngModel)]="cc.expYear" required min="2017">
					<br>
					<br>
				</div>
				<div class="grid-40 mobile-grid-100 grid-parent">
					<input name="cvc" type="text" placeholder="CVC" class="form-control" [(ngModel)]="cc.cvc" required (keypress)="numbersOnly($event, true)">
				</div>
				<div class="grid-10 mobile-grid-100 grid-parent">
					&nbsp;
				</div>
				<div class="grid-50 mobile-grid-100 grid-parent">
					<a href="https://swayops.com/wiki/cvc.php" target="_blank">Where is CVC/ CVV?</a>
				</div>
				<div class="grid-100 mobile-grid-100 grid-parent align-right">
					<br>
					<button class="btn btn-block btn-sm btn-green1" [disabled]="loading || !f.valid || f.pristine || !validCC">Save payment info &#187;</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="grid-40 grid-parent">
	<h3 style="color:#d2335c;">Billing history:</h3>
	<p *ngFor="let ch of history">
		<b>{{ch.created * 1000 | date}}</b> | {{ch.transactionID}}
		<br> {{ch.id}} | {{ch.name}}
		<br> Amount:
		<span style="color:#23c466; font-size: 12px; font-weight: bold;">${{ (ch.amount / 100).toFixed(2) }}</span>
	</p>
</div>
