<h2 class="heading">
	Are the campaigns approved? And have You Received All Perks For These Campaigns?</h2>
<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th>Name</th>
			<th>Campaign ID</th>
			<th>Adv ID</th>
			<th>Agency ID</th>
			<th>Budget</th>
			<th>Goal</th>
			<th class="align-left">Perk Name</th>
			<th># of Items</th>
			<th>Items Added</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let perk of list | filter:FilterUsers">
			<td>{{perk.name}}</td>
			<td>{{perk.id}}</td>
			<td>{{perk.advertiserId}}</td>
			<td>{{perk.agencyId}}</td>
			<td>{{perk.budget}}</td>
			<td>{{perk.infGoal || perk.perks?.count}}</td>
			<td>{{perk.perks?.name || 'N/A'}}</td>
			<td>{{perk.perks?.count || 0 }}</td>
			<td>{{perk.perks?.pendingCount || 0 }}</td>
			<td><a class="btn btn-green1 btn-micro ghost" (click)=received(perk.id)>Approved</a></td>
		</tr>

	</tbody>
</table>
