<h2 class="heading">Manage Campaigns</h2>
<a class="btn btn-green1 btn-micro" [routerLink]="['/createCampaign', user.id]">Create +</a>

<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th class="align-left">Campaign</th>
			<th>ID</th>
			<th>Budget</th>
			<th title="Active Networks">Networks</th>
			<th>Status</th>
			<th>Created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let cmp of list | filter:FilterUsers">
			<td class="align-left"><a [routerLink]="['/editCampaign', cmp.advertiserId, cmp.id]">{{cmp.name}}</a></td>
			<td>{{cmp.id}}</td>
			<td>${{cmp.budget?.toFixed(0)}}</td>
			<td>
				<img width="20" src="/static/img/twitter.png" title="Twitter" *ngIf=cmp.twitter>
				<img width="20" src="/static/img/facebook.png" title="Facebook" *ngIf=cmp.facebook>
				<img width="20" src="/static/img/instagram.png" title="Instagram" *ngIf=cmp.instagram>
				<img width="20" src="/static/img/youtube.png" title="YouTube" *ngIf=cmp.youtube>
			</td>
			<td>{{cmp.status ? 'On' : 'Off'}}</td>
			<td>{{cmp.createdAt * 1000 | date}}</td>
			<td><button class="btn-green1 btn-micro ghost" (click)="selDate.show(cmp);">Report</button> <button class="btn-info btn-micro ghost" [routerLink]="['/editCampaign', cmp.advertiserId, cmp.id]">Edit</button> <!--<button class="btn-scarlet btn-micro ghost">X</button>--></td>
		</tr>
	</tbody>
</table>

<modal title="Select a date range for this report" #selDate [buttons]=selDateButtons>
	<form class="form-inline">
		<div class="form-group">
			<label for="startDate" style="min-width: 120px;">Report start date:</label>
			<input style="max-width:250px;" type="text" class="form-control dp" id="startDate" placeholder="Start date..." readonly>
		</div>
		<div class="form-group">
			<label for="endDate" style="min-width: 120px;">Report end date:</label>
			<input style="max-width:250px;" type="text" class="form-control dp" id="endDate" placeholder="End date..." readonly>
		</div>
	</form>
</modal>
