<h2 class="heading">
	Perks That Need To Be Sent</h2>
<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th width="10%">Campaign ID</th>
			<th width="10%">Campaign Name</th>
			<th width="10%">Perk Name</th>
			<th width="10%">Ship Name</th>
			<th width="30%">Ship Address</th>
			<th width="30%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let perk of list | filter:FilterUsers">
			<td class="align-left"><a [routerLink]="['/editCampaign', perk.advID, perk.cmpID]" target="_blank">{{perk.cmpID}}</a></td>
			<td>{{perk.cmpName}}</td>
			<td>{{perk.name}}</td>
			<td><a href="{{ settings.infAppUrl }}/forceLogin/{{ perk.id }}" target="_blank">{{perk.infName}}</a></td>
			<td>{{address(perk)}}</td>
			<td><button class="brn-blue btn-micro ghost" (click)="Sent(perk.cmpID, perk.id)" [disabled]="loading">Sent</button><br><br><button class="brn-blue btn-micro ghost" (click)="Reject(perk.infID, perk.cmpID, perk.dealID)" [disabled]="loading">Reject</button><br><br><button class="brn-blue btn-micro ghost" (click)="Print(perk.doc)">Print</button></td>
		</tr>
	</tbody>
</table>
