<h2 class="heading">
	Perks That Need To Be Sent</h2>
<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th class="align-left">Advertiser</th>
			<th>Perk Name</th>
			<th>Ship Name</th>
			<th>Ship Address</th>
			<th>Advertiser Email</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let perk of list | filter:FilterUsers">
			<td class="align-left"><a [routerLink]="['/', perk.id]">{{perk.ownerName}}</a></td>
			<td>{{perk.name}}</td>
			<td>{{perk.shipName}}</td>
			<td>{{perk.shipAddress}}</td>
			<td>{{perk.ownerEmail}}</td>
			<td><button class="btn-green1 btn-micro ghost" (click)=Sent(perk.id)>Sent</button></td>
		</tr>
	</tbody>
</table>
