<h2 class="heading">Manage My Talents</h2>
<button class="btn btn-green1 btn-micro" (click)=toggleDialog()>Create +</button>

<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th class="align-left">Name</th>
			<th>ID</th>
			<th>Deals</th>
			<th>Earnings</th>
			<th>Your cut</th>
			<th>Created</th>
			<th>Contact</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let t of list | filter:FilterUsers">
			<td class="align-left"><a href="#">{{t.name}}</a></td>
			<td>{{t.id}}</td>
			<td title="Accepted: {{Num(t.activeDeals)}} | Completed: {{Num(t.completedDeals)}}" class="email ttip">
				{{Num(t.activeDeals) + Num(t.completedDeals)}}
			</td>
			<td>{{FmtMoney(t.agSpend)}}</td>
			<td>{{FmtMoney(t.infSpend)}}</td>
			<td>{{t.createdAt * 1000 | date}}</td>
			<td title="{{contactInfo(t)}}" class="email ttip">View</td>
			<td><button class="btn-info btn-micro ghost" (click)=Edit(t.id)>Edit</button> | <button class="btn-scarlet btn-micro ghost" (click)=Delete(t.id)>X</button></td>
		</tr>
	</tbody>
</table>

<dialog>
	<div>
		<h2 class="heading">Create Talent</h2>
		<form-ng [fields]=fields [onSave]=save [onCancel]=toggleDialog [data]=data></form-ng>
	</div>
</dialog>
