<h2 class="heading">Manage My Talents</h2>
<button class="btn btn-green1 btn-micro" (click)=invModal.show()>Invite new talent +</button>
<button class="btn btn-green1 btn-micro" (click)=cdlg.show(data)>Manually add +</button>

<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th class="align-left">Name</th>
			<th>ID</th>
			<th>Deals</th>
			<th>Earnings</th>
			<th>Your cut</th>
			<th>Created</th>
			<th>Contact</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let t of list | filter:FilterUsers">
			<td class="align-left"><a href="{{ api.IsAdmin() ? settings.infAppUrl + '/forceLogin/' + t.id : networkUrl(t) }}" target="_blank">{{t.name}}</a></td>
			<td>{{t.id}}</td>
			<td title="Accepted: {{Num(t.activeDeals)}} | Completed: {{Num(t.completedDeals)}}" class="email ttip">
				{{Num(t.activeDeals) + Num(t.completedDeals)}}
			</td>
			<td>{{FmtMoney(t.infSpend)}}</td>
			<td>{{FmtMoney(t.agSpend)}}</td>
			<td>{{t.createdAt * 1000 | date}}</td>
			<td title="{{contactInfo(t)}}" class="email ttip">View</td>
			<td>
				<!--<button class="btn-info btn-micro ghost" (click)=edlg.show(t)>Edit</button> | -->
				<button class="btn-scarlet btn-micro ghost" (click)="delete(t)">X</button>
			</td>
		</tr>
	</tbody>
</table>

<smart-form #cdlg class="dialog" [fields]=createFields (onSave)="save($event.data, $event.done)" title="Create Talent"></smart-form>
<smart-form #edlg class="dialog" [fields]=editFields (onSave)="edit($event.data, $event.done)" title="Edit Talent"></smart-form>
<modal title="Invite New Talent" #invModal>
	<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
		<b>Use your invite code/ link to add new users into your talent roster! </b> When a user visits your link they will see signup options that put them under your agency umbrella.
	</div>
	<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
		<h3 style="color:#d2335c;">Your invite code is ( <strong>{{ this.user.talentAgency?.inviteCode }}</strong> ):</h3>
		<input type="text" value="{{ inviteUrl }}" class="form-control" onfocus="this.select();" onmouseup="return false;">
	</div>

	<!--<div class="clearfix br"></div>

	<div class="form-group">
		<div class="grid-20 mobile-grid-100 grid-parent">
			<img src="/static/img/txt.png" class="avatar">
		</div>
		<div class="grid-60 mobile-grid-100 grid-parent">
			<h3 style="margin:10px 0px 0px 0px;">Text invite</h3>
			We will personally invite users by texting them on your behalf.<br>
		</div>
		<div class="grid-20 mobile-grid-100 grid-parent">
			<br>
			<a class="btn btn-info">Share</a>
		</div>
	</div>

	<div class="form-group">
		<div class="grid-20 mobile-grid-100 grid-parent">
			<img src="/static/img/fb.png" class="avatar">
		</div>
		<div class="grid-60 mobile-grid-100 grid-parent">
			<h3 style="margin:10px 0px 0px 0px;">Share to Facebook</h3>
			Share your invite code directly to your Facebook business page.<br>
		</div>
		<div class="grid-20 mobile-grid-100 grid-parent">
			<br>
			<a class="btn btn-info">Share</a>
		</div>
	</div>

	<div class="form-group">
		<div class="grid-20 mobile-grid-100 grid-parent">
			<img src="/static/img/twitter.png" class="avatar">
		</div>
		<div class="grid-60 mobile-grid-100 grid-parent">
			<h3 style="margin:10px 0px 0px 0px;">Share to Twitter</h3>
			Share your invite code directly to your Facebook business page.<br>
		</div>
		<div class="grid-20 mobile-grid-100 grid-parent">
			<br>
			<a class="btn btn-info">Share</a>
		</div>
	</div>

	<div class="form-group">
		<div class="grid-20 mobile-grid-100 grid-parent">
			<img src="/static/img/email.png" class="avatar">
		</div>
		<div class="grid-60 mobile-grid-100 grid-parent">
			<h3 style="margin:10px 0px 0px 0px;">Email invite</h3>
			Share your invite code directly to your Facebook business page.<br>
		</div>
		<div class="grid-20 mobile-grid-100 grid-parent">
			<br>
			<a class="btn btn-info">Share</a>
		</div>
	</div>-->
</modal>