<h2 class="heading">Manage Talent Agencies</h2>
<button class="btn btn-green1 btn-micro" (click)=cdlg.show(data)>Create +</button>

<form style="width:250px; float:right;">
	<input class="form-control input-sm" type="text" placeholder="Search this table..." [(ngModel)]="kw" name="kw">
</form>

<div class="clearfix br"></div>

<table class="tbl">
	<thead>
		<tr>
			<th class="align-left">Agency</th>
			<th>ID</th>
			<th>Subs</th>
			<th>Email</th>
			<th>Signup Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let ag of list | filter:FilterUsers">
			<td class="align-left"><a [routerLink]="['/mTalents', ag.id]">{{ag.name}}</a></td>
			<td>{{ag.id}}</td>
			<td>{{ag.subCount}}</td>
			<td>{{ag.email}}</td>
			<td>{{ag.createdAt * 1000 | date}}</td>
			<td><button class="btn-info btn-micro ghost" (click)=edlg.show(ag)>Edit</button></td>
		</tr>
	</tbody>
</table>

<smart-form #cdlg class="dialog" [fields]=fields (onSave)="save($event.data, $event.done)" title="Create Talent Agency"></smart-form>
<smart-form #edlg class="dialog" [fields]=editFields (onSave)="edit($event.data, $event.done)" title="Edit Talent Agency"></smart-form>
