<h2 class="heading">Download detailed reports:</h2>
<br>
<p>
	Download a report from (from date) to (to date) for: (CampaignName dropdown)
	<a class="btn btn-green1 ghost">Download</a>
</p>
<br>
<h2 class="heading">Engagements:</h2>
<p align="center">Show: <a href="#">ALL</a> - <a href="#">Views</a> - <a href="#">Likes</a> - <a href="#">Comments</a> - <a href="#">Shares</a>	- <a href="#">Link Clicks</a> - <a href="#">@Mentions</a> - <a href="#">#Hashtag Boosts</a></p>
<div id="chartdiv"></div>

<br/><br>
<h2 class="heading">Quick stats for the last 7 days:</h2>

<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Est Views</div>
	<p>{{ curWeek.views || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.views || 'N/A' }}</span>
</div>

<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Engagement Count</div>
	<p>{{ curWeek.engagements || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.engagements || 'N/A' }}</span>
</div>

<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Influencers Utilized</div>
	<p>1234</p>
	<span>Week before: 1,000</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Spent</div>
	<p>${{ (curWeek.spent || 0).toFixed(2) }}</p>
	<span>Week before: ${{ (lastWeek.spent || 0).toFixed(2) }}</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Likes</div>
	<p>{{ curWeek.likes || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.likes || 'N/A' }}</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Views</div>
	<p>{{ curWeek.views || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.views || 'N/A' }}</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Clicks</div>
	<p>{{ curWeek.clicks || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.clicks || 'N/A' }}</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Comments</div>
	<p>{{ curWeek.comments || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.comments || 'N/A' }}</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Shares</div>
	<p>{{ curWeek.shares || 'N/A' }}</p>
	<span>Week before: {{ lastWeek.shares || 'N/A' }}</span>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Network Split</div>
	<div id="chartdiv2"></div>
</div>
