<!--<h2 class="heading">Download detailed reports:</h2>
<br>
<p>
	Download a report from (from date) to (to date) for: (CampaignName dropdown)
	<a class="btn btn-green1 ghost">Download</a>
</p>
<br>-->
<h2 class="heading">Latest Campaign Updates:</h2>
<div *ngFor="let tl of timelines">
	<div class="pallete-item" style="width: 80%;">
		<dl class="palette" [style.backgroundColor]="tl.color">
			<dt [innerHTML]="tl.title"></dt>
			<dd [innerHTML]="tl.msg"></dd>
		</dl>

	</div>
	<div class="pallete-item" style="width: 20%;">
		<dl class="palette palette-clouds">
			<dd>
				<a style="font-size: 12px;" [routerLink]="[tl.link]" *ngIf="!!tl.link && tl.link.substr(0, 4) !== 'http'" [innerHTML]="tl.linkTitle"></a>
				<a style="font-size: 12px;" [href]="tl.link" target="_blank" *ngIf="!!tl.link && tl.link.substr(0, 4) === 'http'" [innerHTML]="tl.linkTitle"></a>
				<a style="font-size: 12px;" href="javascript:Intercom('show')" title="Live Chat with a Sway expert" *ngIf="!tl.link">Contact Us!</a>
				<br>
				<span style="font-weight: 300; font-size: 11px; color: #000;">{{tl.ts | date:'HH:mm | MMM d, y'}}</span>
			</dd>
		</dl>
	</div>
	<div class="clearfix"></div>
</div>
<div *ngIf="!!timelines && timelines.length === 0">
	<div class="pallete-item" style="width: 80%;">
		<dl class="palette" style="background-color: #bdc3c7">
			<dt>You have no campaigns yet!</dt>
		</dl>

	</div>
	<div class="pallete-item" style="width: 20%;">
		<dl class="palette palette-clouds">
			<dd><a style="font-size: 12px;" [routerLink]="['/createCampaign', id]">Create Campaign »</a></dd>
		</dl>
	</div>
</div>

<div class="clearfix br"></div>
<h2 class="heading">Engagements:</h2>
<p align="center">
	Show: <a (click)="setGraph('engagements')">Engagements</a> - <a (click)="setGraph('views')">Views</a> -
	<a (click)="setGraph('likes')">Likes</a> - <a (click)="setGraph('comments')">Comments</a> -
	<a (click)="setGraph('shares')">Shares</a> - <a (click)="setGraph('clicks')">Clicks</a> -
	<a (click)="setGraph('spent')">Spent</a> - <a (click)="setGraph('perks')">Perks Sent</a>
</p>
<div id="chartdiv"></div>

<br/>
<br>
<h2 class="heading">High-level stats for the last 30 days:</h2>

<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Est Views</div>
	<p>{{ lastMonth.total.views | fmtNum:'N/A' }}</p>
</div>

<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Engagements</div>
	<p>{{ lastMonth.total.engagements | fmtNum:'N/A' }}</p>
</div>

<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Influencers Used</div>
	<p>{{ lastMonth.total.infs | fmtNum:'N/A' }}</p>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Spent</div>
	<p>${{ (lastMonth.total.spent || 0).toFixed(2) }}</p>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Likes</div>
	<p>{{ lastMonth.total.likes | fmtNum:'N/A' }}</p>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Clicks</div>
	<p>{{ lastMonth.total.clicks | fmtNum:'N/A' }}</p>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Comments</div>
	<p>{{ lastMonth.total.comments | fmtNum:'N/A' }}</p>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Shares</div>
	<p>{{ lastMonth.total.shares | fmtNum:'N/A' }}</p>
</div>
<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader"><div class="statTileCircleGreen"></div> Perks Sent</div>
	<p>{{ lastMonth.total.perks | fmtNum:'N/A' }}</p>
</div>
<!--<div class="grid-23 mobile-grid-100 grid-parent statTile">
	<div class="statTileHeader">
		<div class="statTileCircleGreen"></div> Network Split</div>
	<div id="chartdiv2"></div>
</div>-->
