<h2 class="heading">Perk Pack &amp; Ship Instructions</h2>

<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
	<b>Congratulations your campaign has been initiated. However it won't go LIVE until we receive your product perks.</b>
	<br> Please see instructions below on how to ship product perks into Sway.
</div>
<div class="grid-100 mobile-grid-100 grid-parent" style="padding-right:30px;">
	<h3 style="color:#d2335c;">INSTRUCTIONS:</h3>
	<p>
		Please package and ship all products to:<br>
		<b>Sway Ops LLC.</b><br> 4461 Crossvine Drive<br> Prosper, TX 75078
	</p>
	<div>
		<ul>
			<li>Please note that you will be charged the cost to ship all items at the time they are sent</li>
			<li>Our shipping partner is USPS and charges will reflect their pricing structure</li>
			<li>Product can be shipped back or applied to a new campaign if you don't ship all items</li>
			<li>You accept that Sway has the right to pack and ship at it's sole discretion</li>
		</ul>
	</div>
</div>
<br>
<div class="grid-100 mobile-grid-40 grid-parent">
	<a class="btn btn-small btn-green1" [routerLink]="['/mCampaigns', id]">Sounds great! I understand &#187;</a>
</div>
