<div id="signup">
	<form class="form" #f="ngForm" novalidate (ngSubmit)="SignUp()">
		<div class="top">
			<div class="grid-50 grid-parent">
				<a [routerLink]="['/']" id="logo" title="Home"><img src="/static/img/signup-logo.png" /></a>
			</div>
			<div class="grid-50 grid-parent align-right"><a [routerLink]="['/login']" class="signin">Already registered?</a></div>
			<div class="clearfix"></div>
		</div>
		<div class="fields">
			<div class="field-item company-name"><input placeholder="Name" class="form-control" name="name" [(ngModel)]="form.name" required></div>
			<div class="field-item email"><input placeholder="Email" class="form-control" name="email" [(ngModel)]="form.email" required pattern="^[^@]+@[^@]+\.[^@]+$"></div>
			<div class="field-item password"><input type="password" placeholder="Password" class="form-control ttip" name="pass" [(ngModel)]="form.pass" required
					minlength="8" title="Password requires at least 8 characters."></div>
			<div class="field-item password"><input type="password" placeholder="Confirm Password" class="form-control" name="pass" [(ngModel)]="form.pass2"
					required minlength="8"></div>
			<div *ngIf="form.pass && form.pass.length < 8" class="notification error">Password requires at least 8 characters.</div>
			<div *ngIf="f.valid && form.pass2 && form.pass != form.pass2" class="notification error">The passwords need to match.</div>
			<div class="checkbox">
				<input id="agreement" type="checkbox" name="agreement" [(ngModel)]="form.agreement" checked="">
				<label for="agreement">I agree to the <a href="https://swayops.com/terms-policy-cookies.html" target="_blank">Terms</a> AND <a href="https://swayops.com/terms-policy-cookies.html" target="_blank">privacy</a></label>
			</div>
			<div *ngIf="error" class="notification error">
				<p>{{error}}</p>
			</div>
		</div>
		<div class="actions"><input type="submit" value="Lets Go &#187;" [disabled]="!f.valid || form.pass != form.pass2 || loading || !form.agreement"></div>
	</form>
	<div class="clearfix"></div>
</div>
